# Ignore RAW image files and large datasets
raw-Data/
*.dng
*.nef
*.raw
*.zip

# Ignore output images 
ISP_Output/*
*.png
*.jpg
*.npy
# !results/

# Ignore temporary files and system folders
__pycache__/
.DS_Store
Thumbs.db
.ipynb_checkpoints/
