# Ignore RAW image files and large datasets
raw-data/
*.dng
*.nef
*.raw
*.zip

# Ignore output images 
isp_output/*
*.jpg
*.npy
# !results/

# Ignore temporary files and system folders
__pycache__/
.DS_Store
Thumbs.db
.ipynb_checkpoints/
